In [1]:
import sqlite3
import pandas as pd

/usr/local/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
cnx = sqlite3.connect('data.db')

df = pd.read_sql_query("SELECT * FROM news", cnx)
df['fecha_publicacion'] = pd.to_datetime(df['fecha_publicacion'])

df.head()

,titulo,cuerpo,fecha_publicacion,diario,url,page
0,Campesino asesinado en Baraya,Un impacto en el pecho con una escopeta calibr...,2020-06-11 17:00:33,lanacion,https://www.lanacion.com.co/campesino-asesinad...,2
1,‘Morcilla’ a responder por homicidio de un jov...,Jorge Leonardo Pájaro Paredes conocido como ‘M...,2020-06-10 10:10:56,lanacion,https://www.lanacion.com.co/morcilla-a-respond...,2
2,Incautan 50 kilos de marihuana que eran transp...,"Las autoridades en el departamento del Huila, ...",2020-06-09 10:39:12,lanacion,https://www.lanacion.com.co/incautan-50-kilos-...,2
3,Miembros del CTI a juicio por robarse una bill...,A juicio fueron llamados Erney Ramírez Gordo y...,2020-06-08 19:30:53,lanacion,https://www.lanacion.com.co/miembros-del-cti-a...,2
4,"Militar neivano, una de las víctimas del fatal...",En la que fue su vivienda por muchos años en l...,2020-06-11 07:35:53,lanacion,https://www.lanacion.com.co/militar-neivano-un...,2

In [5]:
print('Número total de noticias: ', df.shape[0])
print('Número de diarios consultados: ', len(df.diario.unique()))
print('Diarios consultados: ', df.diario.unique())

Número total de noticias:  18987
Número de diarios consultados:  6
Diarios consultados:  ['lanacion' 'elpais' 'eldiario' 'elnuevodia' 'hoydiariodelmagdalena'
 'diariodelhuila']

In [6]:
df.groupby('diario').agg({'url': 'size','fecha_publicacion': ['min', 'max']})

                         url   fecha_publicacion
                        size                 min                 max
diario
diariodelhuila            46 2020-04-21 00:00:00 2020-06-12 00:00:00
eldiario                1319 2019-01-31 19:51:59 2020-06-12 00:00:43
elnuevodia               446 2020-01-13 11:02:33 2020-06-10 16:59:23
elpais                   140 2020-05-03 00:00:00 2020-06-12 00:00:00
hoydiariodelmagdalena   3713 2019-07-07 08:24:45 2020-06-12 17:43:36
lanacion               13323 2012-01-02 06:11:58 2020-06-11 17:00:33